@using System.Collections
@using SeaSharpe_CVGS.Models
@model IEnumerable<SeaSharpe_CVGS.Models.Friendship>

@{
    ViewBag.Title = "Search/Show Friends";
}

<h2>@ViewBag.Title</h2>

<p>
    <h2>Friend's List</h2>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Friendee.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Friendee.User.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Friendee.User.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in (IEnumerable<Friendship>)ViewData["friends"])
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Friendee.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Friendee.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Friendee.User.UserName)
            </td>
            <td>
                @Html.ActionLink("View Wishlist", "Details", new {/* id=item.PrimaryKey */}) |
                @Html.ActionLink("Remove", "Delete", new {/* id=item.PrimaryKey */})
            </td>
        </tr>
    }

</table>



<p>
    <h2>Family List</h2>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Friendee.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Friendee.User.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Friendee.User.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in (IEnumerable<Friendship>)ViewData["family"])
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Friendee.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Friendee.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Friendee.User.UserName)
            </td>
            <td>
                @Html.ActionLink("View Wishlist", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Remove", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
