@model Stripe.StripeCharge
@{
    ViewBag.StripeApiPublicKey = System.Configuration.ConfigurationManager.AppSettings["StripeApiPublicKey"];
    ViewBag.Title = "Buy";
}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>Stripe.setPublishableKey('@Html.Raw(HttpUtility.JavaScriptStringEncode(@ViewBag.StripeApiPublicKey))');</script>
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h2>@ViewBag.Title</h2>

    <form action="" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_MhISt2d76yJREej8MvfLNdfX"
                data-amount="5153"
                data-name="ConestogaVideoGameStore"
                data-description="Fallout 4 + Tax ($51.53)"
                data-image="/Content/themes/base/images/logo.png"
                data-locale="auto">
        </script>
    </form>
    @Html.Display("model")
    
</div>
}
