@model IEnumerable<SeaSharpe_CVGS.Models.CartViewModel>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Download
        </th>
        <th>
            Hard Copy
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item.Game.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item.Game.Platform.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item.Game.ESRB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item.Game.SuggestedRetailPrice)
        </th>
    </tr>

@foreach (var orderItem in Model) {
    <tr>
        <td>
            @Html.EditorFor(modelItem => orderItem.download)
        </td>
        <td>
            @Html.EditorFor(modelItem => orderItem.h)
        </td>
        <td>
            @Html.DisplayFor(modelItem => orderItem.item.Game.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => orderItem.item.Game.Platform.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => orderItem.item.Game.ESRB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => orderItem.item.Game.SuggestedRetailPrice)
        </td>
    </tr>
}
</table>
@if (TempData["EmptyCart"] != null)
{
    <p>@TempData["EmptyCart"]</p>
    <br/>
}

@(Html.ActionLink("Remove Selected", "Delete", "order", null, new { @class = "btn btn-primary" }))
@(Html.ActionLink("Empty Cart", "DeleteCart", "order", null, new { @class = "btn btn-primary" }))
<br/>
@(Html.ActionLink("Continue Shopping", "Index", "Game", null, new { @class = "btn btn-primary" }))
@(Html.ActionLink("Checkout Now", "Index", "Home", null, new { @class = "btn btn-primary" }))

