@model List<SeaSharpe_CVGS.Models.CartViewModel>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>
<table class="table">
    <tr>
        <th>
            Download
        </th>
        <th>
            Hard Copy
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().item.Game.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().item.Game.Platform.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().item.Game.ESRB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().item.Game.SuggestedRetailPrice)
        </th>
    </tr>

@for (int i = 0; i < Model.Count(); i++)
{
    <tr>
        
            @if (Model[i].item.Game.SuggestedRetailPrice > 0.01m)
            {
                <td>
                    N/A
                </td>
                <td>
                    @Html.EditorFor(model => model[i].hardCopy)
                </td>
            }
            else
            {
                <td>
                    @Html.EditorFor(model => model[i].download)
                    
                </td>
                <td>
                    N/A
                </td>
            }
        <td>
            @Html.DisplayFor(model => model[i].item.Game.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model[i].item.Game.Platform.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model[i].item.Game.ESRB)
        </td>
        <td>
            @Html.DisplayFor(model => model[i].item.Game.SuggestedRetailPrice)
        </td>
    </tr>
}

</table>
@if (TempData["EmptyCart"] != null)
{
    <p>@TempData["EmptyCart"]</p>
    <br/>
}

@(Html.ActionLink("Remove Selected", "Delete", "order", null, new { @class = "btn btn-primary" }))
@(Html.ActionLink("Empty Cart", "DeleteCart", "order", null, new { @class = "btn btn-primary" }))
<br/>
@(Html.ActionLink("Continue Shopping", "Index", "Game", null, new { @class = "btn btn-primary" }))
@(Html.ActionLink("Checkout Now", "Index", "Home", null, new { @class = "btn btn-primary" }))

