@model SeaSharpe_CVGS.Models.Order

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.OrderPlacementDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderPlacementDate)
                @Html.ValidationMessageFor(model => model.OrderPlacementDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipDate)
                @Html.ValidationMessageFor(model => model.ShipDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsProcessed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsProcessed)
                @Html.ValidationMessageFor(model => model.IsProcessed)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
