@model IEnumerable<SeaSharpe_CVGS.Models.Order>

@{
    ViewBag.Title = "OrderManagement";
}

<h2>OrderManagement</h2>

@{
    Html.RenderAction("PartialOutstandingOrders");
    
}

@{
    Html.RenderAction("PartialSelectedOrder");
}



<h4>Completed Orders</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderPlacementDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipDate)
        </th>
        <th>
            @Html.LabelFor(model => model.First().Aprover.User.FirstName, "Approver")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.Count)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderPlacementDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aprover.User.FirstName)
            @Html.DisplayFor(modelItem => item.Aprover.User.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderItems.Count)
        </td>
        <td>
            @Html.ActionLink("View", "OrderManagement", new { id = item.Id })
        </td>
    </tr>
}

</table>
