@model IEnumerable<SeaSharpe_CVGS.Models.Order>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderPlacementDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.Count)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderPlacementDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderItems.Count)
        </td>
        <td>
            @Html.ActionLink("View/Process", "Edit", new { id = item.Id })
        </td>
    </tr>
}

</table>