@model SeaSharpe_CVGS.Models.Order

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">

        <h4>User Information</h4>
        <dt>
            User Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member.User.FirstName)
            @Html.DisplayFor(model => model.Member.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Member.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Member.User.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member.User.UserName)
        </dd>

        <h4>Order Dates</h4>
        <dt>
            @Html.DisplayNameFor(model => model.OrderPlacementDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderPlacementDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipDate)
        </dd>

        <h4>Address Information</h4>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddress.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingAddress.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddress.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingAddress.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddress.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingAddress.Region)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddress.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingAddress.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddress.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingAddress.PostalCode)
        </dd>
        <dt>
            Approver
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aprover.User.FirstName)
            @Html.DisplayFor(model => model.Aprover.User.LastName)
        </dd>
       
        <h4>Order Items</h4>
        @foreach (var item in Model.OrderItems)
        {
            
            <dt>
                Game
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Game.Name)
            </dd>
            <dt>
                Platform
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Game.Platform.Name)
            </dd>
            <dt>
                Purchase Price
            </dt>
            <dd>
                @Html.DisplayFor(model => item.SalePrice)
            </dd>
            <br/>
        }
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>