@model SeaSharpe_CVGS.Models.Order
@{
    Layout = null;
}

@{
    ViewBag.Title = "Shipping Label";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/order.css" type="text/css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- CSS reference for jQuery ui-->
    @Styles.Render("~/Content/themes/base/all.css")
</head>
<body id="shippingBody">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-5 col-md-offset-1 outsetBorder">

                <h1><img src="~/Content/themes/base/images/logo.png" id="logo" width="50px" />Conestoga Video Game Store</h1>
                299 Doon Valley Dr,<br />
                Kitchener, Ontario, Canada<br />
                N2G 4M4<br />
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h2><u>Ship To:</u></h2>
                <p>@Html.DisplayFor(model => model.Member.User.FirstName) @Html.DisplayFor(model => model.Member.User.LastName)</p>
                <p>@Html.DisplayFor(model => model.ShippingAddress.StreetAddress)</p>
                <p>
                    @Html.DisplayFor(model => model.ShippingAddress.City), @Html.DisplayFor(model => model.ShippingAddress.Region)
                    @Html.DisplayFor(model => model.ShippingAddress.Country)</>
                <p>@Html.DisplayFor(model => model.ShippingAddress.PostalCode)</p>
            </div>
        </div><br/><br/>
        </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-6 col-md-offset-1">
                    <h2><u>Enclosed:</u></h2>
                    @foreach (var item in Model.OrderItems)
                    {
                        <p>@Html.DisplayFor(model => item.Game.Name) for @Html.DisplayFor(model => item.Game.Platform.Name)</p>
                    }
                </div>
                <div class="col-md-5">
                    <h2><u>Order Details:</u></h2>
                    Order @Html.DisplayNameFor(model => model.Id): @Html.DisplayFor(model => model.Id)<br />
                    @Html.DisplayNameFor(model => model.OrderPlacementDate): @Html.DisplayFor(model => model.OrderPlacementDate)<br />
                    @Html.DisplayNameFor(model => model.ShipDate): @Html.DisplayFor(model => model.ShipDate)<br />
                    <br />
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")


</body>
</html>