@model SeaSharpe_CVGS.Models.Review
 
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <!-- Subject Label -->
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <!-- Subject text-->
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <!-- Body Label -->
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <!-- Body Text -->
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <!-- Rating Label-->
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <!-- Rating Text-->
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <!-- Approval Label-->
        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <!-- Approval Checkbox-->
        <dd>
            @Html.CheckBoxFor(model => model.IsApproved)
        </dd>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
