@model SeaSharpe_CVGS.Models.Review
 <link rel="stylesheet" href="~/Content/review.css" type="text/css">
<div class="reviewBorder" id="reviewReview">
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h3 style="font-weight:bold;text-align:center;">Game Reviewed:</h3>
            <p style="text-align:center;">@Html.DisplayFor(model => model.Game.Name)</p>
            <h3 style ="font-weight:bold;text-align:center;">Review By:</h3>
            <p style="text-align:center;">@Html.DisplayFor(model => model.Author.User.FirstName) @Html.DisplayFor(model => model.Author.User.LastName)</p>
            <hr />
            <div id="selectedReview">
                <!-- Subject Label -->
                <b>
                    @Html.DisplayNameFor(model => model.Subject)
                </b>

                <!-- Subject text-->
                <p>
                    @Html.TextBoxFor(model => model.Subject, new { @class = "reviewReview", disabled = "disabled", @readonly = "readonly" })
                </p>

                <!-- Body Label -->
                <b>
                    @Html.DisplayNameFor(model => model.Body)
                </b>

                <!-- Body Text -->
                <p>
                    @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class="reviewReview", disabled = "disabled", @readonly = "readonly" } })
                </p>

                <!-- Rating Label-->
                <b>
                    @Html.DisplayNameFor(model => model.Rating)
                </b>

                <!-- Rating Text-->
                    <input value="@Model.Rating" type="number" id="Rating" name="Rating" class="rating reviewReview" data-show-clear="false" data-readonly="true" data-show-caption="false" data-size="xs" />
                    <script type="text/javascript">$("#Rating").rating()</script>
                
                <!-- Approval Label-->
                <b>
                    @Html.DisplayNameFor(model => model.IsApproved)
                    <!-- Approval Checkbox-->
                    @Html.CheckBoxFor(model => model.IsApproved)
                </b>   <br/>             
            </div>

            <div class="form-group">
                <div class="col-md-11">
                    <input type="submit" value="Submit" class="btn greenButton" id="btnApproveReview" />
                </div>
            </div>
        </div>
    }
</div>