@model SeaSharpe_CVGS.Models.Review

<div class="form-horizontal">
    <!-- Subject Label -->
    <dt>
        @Html.DisplayNameFor(model => model.Subject)
    </dt>

    <!-- Subject text-->
    <dd>
        @Html.DisplayFor(model => model.Subject)
    </dd>

    <!-- Body Label -->
    <dt>
        @Html.DisplayNameFor(model => model.Body)
    </dt>

    <!-- Body Text -->
    <dd>
        @Html.DisplayFor(model => model.Body)
    </dd>

    <!-- Rating Label-->
    <dt>
        @Html.DisplayNameFor(model => model.Rating)
    </dt>

    <!-- Rating Text-->
    <dd>
        @Html.DisplayFor(model => model.Rating)
    </dd>
</div>
