@model SeaSharpe_CVGS.Models.Review

<div class="form-horizontal">
    <div id="selectedReview">
        <!-- Subject Label -->
        <b>
            @Html.DisplayNameFor(model => model.Subject)
        </b>

        <!-- Subject text-->
        <p>
            @Html.TextBoxFor(model => model.Subject, new { @class = "reviewReview", disabled = "disabled", @readonly = "readonly" })
        </p>

        <!-- Body Label -->
        <b>
            @Html.DisplayNameFor(model => model.Body)
        </b>

        <!-- Body Text -->
        <p>
            @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "reviewReview", disabled = "disabled", @readonly = "readonly" } })
        </p>

        <!-- Rating Label-->
        <b>
            @Html.DisplayNameFor(model => model.Rating)
        </b>

        <!-- Rating Text-->
        <p>
            @Html.TextBoxFor(model => model.Rating, new { @class = "reviewReview", disabled = "disabled", @readonly = "readonly" })
        </p>
    </div>
</div>
