@model SeaSharpe_CVGS.Models.Review
<link rel="stylesheet" href="~/Content/review.css" type="text/css">
<div class="form-horizontal">
    <div class="row">
        <div id="selectedReview" class="reviewBorder col-lg-11">
            <br/>
            <!-- Subject Label -->
            <b class="col-md-3 noSidePadding">
                @Html.DisplayNameFor(model => model.Subject)
            </b>

            <!-- Subject text-->
            <span class="col-md-7 noSidePadding">
                @Html.TextBoxFor(model => model.Subject, new { @class = "reviewReview", disabled = "disabled", @readonly = "readonly" })
            </span>

            <!-- Body Label -->
            <b class="col-md-3 noSidePadding">
                @Html.DisplayNameFor(model => model.Body)
            </b>

            <!-- Body Text -->
            <span class="col-md-7 noSidePadding">
                @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "reviewReview", disabled = "disabled", @readonly = "readonly" } })
            </span>

            <!-- Rating Label-->
            <b class="col-md-3 noSidePadding">
                @Html.DisplayNameFor(model => model.Rating)
            </b>

            <!-- Rating -->
            <span class="col-md-12">
                <input value="@Model.Rating" type="number" id="Rating" name="Rating" class="rating reviewReview" data-show-clear="false" data-readonly="true" data-show-caption="false" data-size="xs" />
                <script type="text/javascript">$("#Rating").rating()</script><br />
            </span>
        </div>
    </div>
</div>