@model IEnumerable<SeaSharpe_CVGS.Models.Review>

@{
    ViewBag.Title = "Reviews & Ratings for " + ViewBag.gameName;
}
<link rel="stylesheet" href="~/Content/review.css" type="text/css">
<h1>@ViewBag.Title</h1>
<hr/>
<div class="row">
    <div class="col-lg-12">
<!-- Left Hand Side-->
<div class="col-md-6">

            
    <table class="table">
        <tr>
            <!-- Author heading-->
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>

            <!-- Game heading -->
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>

            <!-- View review heading-->
            <th>
                View Review
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <!-- Display Review Author-->
                <td>
                    @(item.Author.User.FirstName + " " + item.Author.User.LastName)
                </td>

                <!-- Display Review Game Name-->
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>

                <!-- Button to display review in partial, must have 'reviewDisplayButton' as class for jquery to work-->
                <td>
                            <input value="View" type="button" reviewid="@item.Id" class="reviewDisplayButton btn greenButton" />
                </td>
            </tr>
        }

    </table>
</div>

<!-- End Left Hand Side-->
<!-- Right Hand Side-->
<div class="col-md-6">
            
            <!-- average rating-->
            <h4>
                <b>Average Rating:</b>
                <input value="@ViewData["averageRating"]" type="number" class="rating" min="0" max="5" data-show-clear="false" data-readonly="true" data-show-caption="false" data-size="xs" />
            </h4><br/>
    <!-- div for selected review partial view-->
    <div id="reviewPartialDiv">
                <p class="tempMessage">
        SELECT A REVIEW TO DISPLAY
                </p>
    </div>
</div>

<!-- End Right Hand Side-->
    </div>
</div>
<!-- scripts for loading reviews into partial view NOTE: does not work if placed in a separate js file and loaded via bundles-->
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(function () {
        $(".reviewDisplayButton").click(function () {
            var reviewId = $(this).attr("reviewId");
            $("#reviewPartialDiv").load('@(Url.Action("PartialReviewDetails", "Review", null, Request.Url.Scheme))?Id=' + reviewId);
        })
    });
</script>