@model IEnumerable<SeaSharpe_CVGS.Models.Review>

@{
    ViewBag.Title = "Review Management";
}
<!-- Left Hand Side-->
<div class="col-md-6">
    <h2>@ViewBag.Title</h2>
    <h4>Reviews Awaiting Approval</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                View Review
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Display(item.Author.User.FirstName + " " + item.Author.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Name)
                </td>

                <td>
                    @Ajax.ActionLink("View", "PartialSelectedReview", "Review", null, new AjaxOptions { UpdateTargetId = "reviewPartialDiv" })
                </td>
            </tr>
        }        

    </table>
</div>
<!-- End Left Hand Side-->

<!-- Right Hand Side-->
<div id="reviewPartialDiv" class="col-md-6">
    @{Html.RenderPartial("PartialSelectedReview");}
</div>
<!-- End Right Hand Side-->

