@model IEnumerable<SeaSharpe_CVGS.Models.Review>

@{
    ViewBag.Title = "Review Management";
}
<!-- Left Hand Side-->
<div class="col-md-6">
    <h2>@ViewBag.Title</h2>
    <h4>Reviews Awaiting Approval</h4>
    <table class="table">
        <tr>
            <!-- Author heading-->
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>

            <!-- Game heading -->
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>

            <!-- View review heading-->
            <th>
                View Review
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <!-- Display Review Author-->
                <td>
                    @(item.Author.User.FirstName + " " + item.Author.User.LastName)
                </td>

                <!-- Display Review Game Name-->
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Name)
                </td>

                <!-- Button to display review in partial, must have 'reviewDisplayButton' as class for jquery to work-->
                <td>
                    <input value="View" type="button" reviewId="@item.Id" class="reviewDisplayButton" />
                </td>
            </tr>
        }        

    </table>
</div>
<!-- End Left Hand Side-->

<!-- Right Hand Side-->
<div class="col-md-6">
    <!-- div for selected review partial view-->
    <div id ="reviewPartialDiv">
        SELECT A REVIEW TO DISPLAY
    </div>   
</div>
<!-- End Right Hand Side-->

<!-- scripts for loading reviews into partial view NOTE: does not work if placed in a separate js file and loaded via bundles-->
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(function () {
        $(".reviewDisplayButton").click(function () {
            var reviewId = $(this).attr("reviewId");
            $("#reviewPartialDiv").load('@(Url.Action("PartialSelectedReview", "Review", null, Request.Url.Scheme))?Id=' + reviewId);
        })
    });
</script>

