@model IEnumerable<SeaSharpe_CVGS.Models.Review>

@{
    ViewBag.Title = "Review Management";
}
<!-- Left Hand Side-->
<div class="col-md-6">
    <h2>@ViewBag.Title</h2>
    <h4>Reviews Awaiting Approval</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                View Review
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Display(item.Author.User.FirstName + " " + item.Author.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Name)
                </td>

                <td>
                    <input type="button" id="test" reviewId="@item.Id" class="test" />
                </td>
            </tr>
        }        

    </table>
</div>
<!-- End Left Hand Side-->

<!-- Right Hand Side-->
<div id="reviewPartialDiv" class="col-md-6">
   
</div>
<!-- End Right Hand Side-->

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#test").click(function() 
        {
            var value = $(this).attr("reviewId");
            alert(value);
            $("#reviewPartialDiv").load('@(Url.Action("PartialSelectedReview","Review",null, Request.Url.Scheme))?Id=' + value);
        })
    });
</script> 
