@model IEnumerable<SeaSharpe_CVGS.Models.Review>

@{
    ViewBag.Title = "Review Management";
}
<link rel="stylesheet" href="~/Content/review.css" type="text/css">
<h1>@ViewBag.Title</h1>
<hr />
<div class="row">
    <div class="col-lg-12">
        <!-- Left Hand Side-->
        <div class="col-md-8">

            <h3 style="text-align:center;">Reviews Awaiting Approval</h3>
            <table class="table">
                <tr>
                    <!-- Author heading-->
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>

                    <!-- Game heading -->
                    <th>
                        @Html.DisplayNameFor(model => model.Game)
                    </th>

                    <!-- View review heading-->
                    <th>
                        View Review
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <!-- Display Review Author-->
                        <td>
                            @(item.Author.User.FirstName + " " + item.Author.User.LastName)
                        </td>

                        <!-- Display Review Game Name-->
                        <td>
                            @Html.DisplayFor(modelItem => item.Game.Name)
                        </td>

                        <!-- Button to display review in partial, must have 'reviewDisplayButton' as class for jquery to work-->
                        <td>
                            <input value="View" type="button" reviewid="@item.Id" class="btn reviewDisplayButton greenButton" />
                        </td>
                    </tr>
                }

            </table>
        </div>
        <!-- End Left Hand Side-->
        <!-- Right Hand Side-->
        <div class="col-md-4">
            <!-- div for selected review partial view-->
            <br /><br />
            <div id="reviewPartialDiv">
                <p class="tempMessage">SELECT A REVIEW TO DISPLAY</p>
            </div>
        </div>
        <!-- End Right Hand Side-->
    </div>
</div>
<!-- scripts for loading reviews into partial view NOTE: does not work if placed in a separate js file and loaded via bundles-->
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(function () {
        $(".reviewDisplayButton").click(function () {
            var reviewId = $(this).attr("reviewId");
            $("#reviewPartialDiv").load('@(Url.Action("PartialSelectedReview", "Review", null, Request.Url.Scheme))?Id=' + reviewId);
        })
    });
</script>

