<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- CSS reference for jQuery ui-->
    @Styles.Render("~/Content/themes/base/all.css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a href='@Url.Action("Index", "Home")'>
                <img src='@Url.Content("~/Content/themes/base/images/logo.png")' id="logo" />
            </a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Conestoga Video Game Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (User.IsInRole("Employee"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Events", "EventManagement", "Event")</li>
                        <li>@Html.ActionLink("Reviews", "ReviewManagement", "Review")</li>
                        <li>@Html.ActionLink("Games", "GameManagement", "Game")</li>
                        <li>@Html.ActionLink("Orders", "OrderManagement", "Order")</li>
                        <li>@Html.ActionLink("Reports", "Index", "Report")</li>
                        <li>@Html.Partial("_LoginPartial")</li>
                    </ul>
                }
                else if (User.IsInRole("Member"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Friends/Family", "Index", "Friendship")</li>
                        <li>@Html.ActionLink("Wish List", "DisplayCurrentMemberWishlist", "Friendship")</li>
                        <li>@Html.ActionLink("Profile", "Edit", "User")</li>
                        <li>@Html.ActionLink("Cart", "Cart", "Order")</li>
                        <li>@Html.ActionLink("Orders", "OrderHistory", "Order")</li>
                        <li>@Html.Partial("_LoginPartial")</li>
                    </ul>
                }
                else
                {
                    <div class="nav navbar-nav">
                        @Html.Partial("_LoginPartial")
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        Navigation
                    </li>
                    <!-- to be uncommented when roles are made-->
                 @if (User.IsInRole("Employee"))
                {
                    <li>
                            @Html.ActionLink("Events", "ViewEvents", "Event")
                    </li>
                    <li>
                        @Html.ActionLink("Shop", "SearchGames", "Game")
                    </li>
                }
                else
                { 
                    <li>
                        <!-- contact us page not created yet-->
                        @Html.ActionLink("Contact Us", "Contact", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Events", "ViewEvents", "Event")
                    </li>
                    <li>
                        @Html.ActionLink("Shop", "SearchGames", "Game")
                    </li>
                 }
                    <li class="sidebar-brand">
                        Browse By Platform
                    </li>
                    <li>
                        <!-- need to get id for specific platform-->
                        @Html.ActionLink("PS4", "SearchBy", "Game", new { platformString = "PS4" }, null)
                    </li>
                    <li>
                        <!-- need to get id for specific platform-->
                        @Html.ActionLink("XBOX One", "SearchBy", "Game", new { platformString = "XBOX" }, null)
                    </li>
                    <li>
                        <!-- need to get id for specific platform-->
                        @Html.ActionLink("Wii U", "SearchBy", "Game", new { platformString = "Wii" }, null)
                    </li>
                    <li>
                        <!-- need to get id for specific platform-->
                        @Html.ActionLink("PC", "SearchBy", "Game", new { platformString = "PC" }, null)
                    </li>
                    <li class="sidebar-brand">
                        Browse By Category
                    </li>
                    <li>
                        <!-- need to get id for specific category-->
                        @Html.ActionLink("Action", "SearchBy", "Game", new { categoryString = "Action" }, null)
                    </li>
                    <li>
                        <!-- need to get id for specific category-->
                        @Html.ActionLink("Adventure", "SearchBy", "Game", new { categoryString = "Adventure" }, null)
                    </li>
                    <li>
                        <!-- need to get id for specific category-->
                        @Html.ActionLink("Puzzle", "SearchBy", "Game", new { categoryString = "Puzzle" }, null)
                    </li>
                    <li>
                        <!-- need to get id for specific category-->
                        @Html.ActionLink("Role-Playing", "SearchBy", "Game", new { categoryString = "RPG" }, null)
                    </li>
                    <li>
                        <!-- need to get id for specific category-->
                        @Html.ActionLink("Strategy", "SearchBy", "Game", new { categoryString = "RTS" }, null)
                    </li>
                    <li>
                        <!-- need to get id for specific category-->
                        @Html.ActionLink("Shooter", "SearchBy", "Game", new { categoryString = "FPS" }, null)
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <span id="tempData">@TempData["message"]</span>
        @RenderBody()
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->
        <div class="navbar navbar-fixed-bottom">
            <footer>
                <p>&copy; CVGS @DateTime.Now.Year All Rights Reserved</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
