@model IEnumerable<SeaSharpe_CVGS.Models.Event>

@{
    ViewBag.Title = "Event Management";
}
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/event.css" type="text/css">
</head>
<h1>@ViewBag.Title</h1>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="col-md-10 col-md-offset-1">
            <p>
                @Html.ActionLink("Create New Event", "Create", null, new { @class = "btn greenButton" })
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Capacity)
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td style="max-width:200px;">
                            <span style="word-wrap:break-word;">
                                @Html.DisplayFor(modelItem => item.Description)</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacity)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn greenButton btnEvent" }) 
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn greenButton btnEvent" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>