@model SeaSharpe_CVGS.Models.Game

@{
    ViewBag.Title = "Game Details For " + Model.Name;
}
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/game.css" type="text/css">
</head>
<h1>@ViewBag.Title</h1>
<hr/>
<div class="row">
<!-- Left Hand Side-->
    <div class="col-md-3 col-md-offset-2">
        <img src="@Model.ImagePath" class="img-details"/>
    <!-- link to other reviews for this game -->
    <p>
        @Html.ActionLink("View Reviews & Ratings", "ReviewsRating", "Review", new { id = Model.Id }, new { @class = "btn greenButton btn-details" })
    </p>

    <!-- Download Game-->
    <p>
            @Html.ActionLink("Download", "Download", new { id = Model.Id }, new { @class = "btn greenButton btn-details" })
    </p>

@if (User.Identity.IsAuthenticated) // Hide these buttons for users that are not logged in
{
    <!-- Add To Cart-->
    <p>
        @Html.ActionLink("Add To Cart", "AddToCart", "Order", new { id = Model.Id }, new { @class = "btn greenButton btn-details" })
    </p>

    <!-- Add To Wishlist -->
    <p>
        @Html.ActionLink("Add To Wishlist", "AddToWishlist", "Friendship", new { id = Model.Id }, new { @class = "btn greenButton btn-details" })
    </p>
}

    <!-- Back To Games-->
    <p>
        @Html.ActionLink("Back to Games", "Index", null, new { @class = "btn greenButton btn-details" })
    </p>

</div>
<!-- End Left Hand Side-->
<!-- Right Hand Side-->
    <div class="col-md-5 col-md-offset-1">
    <dl class="dl-horizontal">
        <!-- Game Name-->
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <!-- Game Publisher-->
        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <!-- Game ESRB-->
        <dt>
            @Html.DisplayNameFor(model => model.ESRB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESRB)
        </dd>


        <!-- display create review form if review is approved, else display review details TODO: replace true with !isApproved-->
            @if (!(Boolean)ViewData["isApproved"]) 
        { 
            @Html.Partial("~/Views/Review/PartialCreateReview.cshtml", ViewData["review"]); 
                @Scripts.Render("~/bundles/jqueryval")
        }        
        
        else
        {
            @Html.Partial("~/Views/Review/PartialReviewDetails.cshtml", ViewData["review"]);    
        }
        
            
    </dl>
</div>
</div>
<!-- End Right Hand Side-->

<!-- Scripts-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <!-- Script to check the age of visitors -->
    <script type="text/javascript">
        function checkAge( minAge)
        {
            if (minAge > 0)
            {
                $("#page-content-wrapper").hide();

                //Set the expiration date for 1 year from now
                var expirationDate = new Date();
                expirationDate.setFullYear(expirationDate.getFullYear() + 1);

                //prompt user for their age and set the cookie to their response
                var age = prompt("This page contains mature content. Please enter your age.");
                document.cookie = "ageCookie=" + age +"; expires=" + expirationDate.toGMTString() + ";";

                //Check their age against the minimum age for the game and show content if appropriate
                if (isNaN(age) || age < minAge) {
                    $("#page-content-wrapper").html("<h1>You must be at least " + minAge + " years old to view this game.")
                }

                $("#page-content-wrapper").show();
            }                
        }
    </script>

    <!-- only call script for visitors who have no age input yet-->
    @if ((Boolean)ViewData["ageUndefined"])
    {
        <script type="text/javascript">checkAge(@ViewData["minAge"])</script>
    }
}