@model SeaSharpe_CVGS.Models.Game

@{
    ViewBag.Title = "Edit " + Model.Name;
}
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/game.css" type="text/css">
</head>
<h1>@ViewBag.Title</h1>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="col-md-10 col-md-offset-2">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
    
                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true)

                    <!-- Game Name -->
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <!-- Categories  -->
                    <div class="form-group">
                        @Html.LabelFor(model => model.Categories, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.ListBoxFor(model => model.Categories, (SelectList)ViewData["categoryList"])
                        </div>
                    </div>

                    <!-- Platform -->
                    <div class="form-group">
                        @Html.LabelFor(model => model.Platform, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.Platform_Id, (SelectList)ViewData["platformList"])
                        </div>
                    </div>

                    <!-- Retail Price -->
                    <div class="form-group">
                        @Html.LabelFor(model => model.SuggestedRetailPrice, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SuggestedRetailPrice)
                            @Html.ValidationMessageFor(model => model.SuggestedRetailPrice)
                        </div>
                    </div>

                    <!-- Release Date-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.ReleaseDate, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.ReleaseDate, new { @class = "datefield" })
                            @Html.ValidationMessageFor(model => model.ReleaseDate)
                        </div>
                    </div>

                    <!-- Publisher -->
                    <div class="form-group">
                        @Html.LabelFor(model => model.Publisher, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Publisher)
                            @Html.ValidationMessageFor(model => model.Publisher)
                        </div>
                    </div>

                    <!-- ESRB  -->
                    <div class="form-group">
                        @Html.LabelFor(model => model.ESRB, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.ESRB, (SelectList)ViewData["esrbList"])
                            @Html.ValidationMessageFor(model => model.ESRB)
                        </div>
                    </div>

                    <!-- Image Path-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ImagePath)
                            @Html.ValidationMessageFor(model => model.ImagePath)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" value="Save" class="btn btn-default greenButton" />
                        </div>
                    </div>
                </div>
            }            
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
