@model IEnumerable<SeaSharpe_CVGS.Models.Game>

@{
    ViewBag.Title = "Game Management";
}

<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/game.css" type="text/css">
</head>
<h1>@ViewBag.Title</h1>
<hr />
<p>
    @Html.ActionLink("Add New Game", "Create", null, new { @class = "btn greenButton" })
</p>
<table class="table">
    <tr>
        <!-- Game Name header-->
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <!-- Game Platform header-->
        <th>
            @Html.DisplayNameFor(model => model.Platform)
        </th>

        <!-- Game Update header-->
        <th>
            Update
        </th>

        <!-- Game Delete header-->
        <th>
            Activate
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <!-- Game Name-->
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <!-- Game Platform-->
            <td>
                @Html.DisplayFor(modelItem => item.Platform.Name)
            </td>

            <!-- Game Update Link-->
            <td>
                @Html.ActionLink("Update", "Edit", new { id = item.Id }, new { @class = "btn greenButton" })
            </td>

            <!-- Game Delete Link-->
            <td>
                @if(item.IsActive)
                {
                    @Html.ActionLink("De-Activate", "Activate", new { id = item.Id }, new { @class = "btn greenButton" })
                }
                else
                {
                    @Html.ActionLink("Activate", "Activate", new { id = item.Id }, new { @class = "btn greenButton" })
                }
                
            </td>
        </tr>
    }

</table>
