@model SeaSharpe_CVGS.Models.Game
@{
    ViewBag.Title = "Game Details Report";
}
<link rel="stylesheet" href="~/Content/report.css" type="text/css">
<h1>@ViewBag.Title</h1>
<hr/>
<div class="row">
    <div class="col-lg-12">
            <div class="col-md-3 col-md-offset-1">
                <img src="@Model.ImagePath" class="img-details" />
            </div>
                <div class="col-md-8">

                    <dl class="dl-horizontal" id="printDiv">
                        <!-- Game id -->
                        <dt>
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <!-- Game name -->
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <!-- Game Release Date -->
                        <dt>
                            @Html.DisplayNameFor(model => model.ReleaseDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ReleaseDate)
                        </dd>
                        <!-- Game Price -->
                        <dt>
                            @Html.DisplayNameFor(model => model.SuggestedRetailPrice)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SuggestedRetailPrice)
                        </dd>
                        <!-- Game Platform -->
                        <dt>
                            @Html.DisplayNameFor(model => model.Platform)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Platform.Name)
                        </dd>
                        <!-- Game Publisher -->
                        <dt>
                            @Html.DisplayNameFor(model => model.Publisher)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Publisher)
                        </dd>
                        <!-- Game ESRB Rating -->
                        <dt>
                            @Html.DisplayNameFor(model => model.ESRB)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ESRB)
                        </dd>
                    </dl>
                </div>
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <div>
                    @Html.ActionLink("Back to List", "ListGamesReport")
                </div>
            </div>
        </div>
    </div>
</div>

@if ((bool)ViewData["print"])
{
    <script>
        var TableToPrint = document.getElementById('printDiv');
        newWin = window.open("");
        newWin.document.write(TableToPrint.outerHTML);
        newWin.print();
        newWin.close();
    </script>
}
    

