@model SeaSharpe_CVGS.Models.Member
@{
    ViewBag.Title = "Member Details Report";
}
<link rel="stylesheet" href="~/Content/report.css" type="text/css">
<h1>@ViewBag.Title</h1>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="col-md-8 col-md-offset-2 jumbotron">
            <dl class="dl-horizontal memberDetailsDl" id="printDiv">
                <!-- Member Id -->
                <dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <!-- Member Username -->
                <dt>
                    @Html.DisplayNameFor(model => model.User.UserName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.User.UserName)
                </dd>
                <!-- Member First Name -->
                <dt>
                    @Html.DisplayNameFor(model => model.User.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.User.FirstName)
                </dd>
                <!-- Member Last Name -->
                <dt>
                    @Html.DisplayNameFor(model => model.User.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.User.LastName)
                </dd>
                
                <!-- Member Gender -->
                <dt>
                    @Html.DisplayNameFor(model => model.User.Gender)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.User.Gender)
                </dd>
                <!-- Member Email -->
                <dt>
                    @Html.DisplayNameFor(model => model.User.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.User.Email)
                </dd>
                <!-- Member Phone -->
                <dt>
                    @Html.DisplayNameFor(model => model.User.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.User.PhoneNumber)
                </dd>
                <!-- Member DOB -->
                <dt>
                    @Html.DisplayNameFor(model => model.User.DateOfBirth)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.User.DateOfBirth)
                </dd>
                <!-- Member Registration Date -->
                <dt>
                    @Html.DisplayNameFor(model => model.User.DateOfRegistration)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.User.DateOfRegistration)
                </dd>
                <!-- Member IsEmailVerified -->
                <dt>
                    @Html.DisplayNameFor(model => model.IsEmailVerified)
                </dt>
                @if(Model.IsEmailVerified)
                {
                    <dd>
                        Yes
                    </dd>
                }
                else
                {
                    <dd>
                        No
                    </dd>
                }
                <!-- Member IsEmailMarketingAllowed-->
                <dt>
                    @Html.DisplayNameFor(model => model.IsEmailMarketingAllowed)
                </dt>
                @if(Model.IsEmailMarketingAllowed)
                {
                    <dd>
                        Yes
                    </dd>
                }
                else
                {
                    <dd>
                        No
                    </dd>
                }
            </dl>
        </div>
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <div>
                    @Html.ActionLink("Back to List", "ListMembersReport")
                </div>
            </div>
        </div>
    </div>
</div>

@if ((bool)ViewData["print"])
{
    <script>
        var TableToPrint = document.getElementById('printDiv');
        newWin = window.open("");
        newWin.document.write(TableToPrint.outerHTML);
        newWin.print();
        newWin.close();
    </script>
}
