@model IEnumerable<SeaSharpe_CVGS.Models.Member>
@{
    ViewBag.Title = "Member Details Report";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.User.DateOfRegistration)*@
            Registration Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Gender)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.User.DateOfBirth)*@
            DOB
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.IsEmailVerified)*@
            Email Verified?
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.IsEmailMarketingAllowed)*@
            Email Marketing?
        </th>
        <th>
            Phone Number
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.DateOfRegistration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEmailVerified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEmailMarketingAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

