@model SeaSharpe_CVGS.Models.ProfileViewModel

@{
    ViewBag.Title = "Edit Profile";
    
    ViewBag.Genders = from gender in new Dictionary<string, string> { { "Male", "M" }, { "Female", "F" }, { "Other", "O" } }
                      select new System.Web.Mvc.SelectListItem {
                          Text = gender.Key, 
                          Value    = gender.Value,
                          Selected = gender.Value.ToUpper() == Model.Member.User.Gender
                      };
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4">

            <div class="form-horizontal">
                @Html.HiddenFor(model => model.Member.Id)
                @Html.HiddenFor(model => model.Member.User.Id)
                @Html.HiddenFor(model => model.Member.User.UserName)

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Member.User.UserName)
                        @Html.DisplayFor(model => model.Member.User.UserName)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Member.User.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Member.User.FirstName) } })
                        @Html.ValidationMessageFor(model => model.Member.User.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Member.User.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Member.User.LastName) } })
                        @Html.ValidationMessageFor(model => model.Member.User.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Member.User.Email, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Member.User.Email) } })
                        @Html.ValidationMessageFor(model => model.Member.User.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Member.User.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Member.User.PhoneNumber) } })
                        @Html.ValidationMessageFor(model => model.Member.User.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Member.User.Gender, (IEnumerable<SelectListItem>)ViewBag.Genders)
                        @Html.ValidationMessageFor(model => model.Member.User.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Member.User.DateOfBirth, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Member.User.DateOfBirth) } })
                        @Html.ValidationMessageFor(model => model.Member.User.DateOfBirth, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Member.IsEmailMarketingAllowed)
                        @Html.LabelFor(model => model.Member.IsEmailMarketingAllowed, "I wish to receive promotional material")
                        @Html.ValidationMessageFor(model => model.Member.IsEmailMarketingAllowed)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default greenButton" />
                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-4">
                @{
                    ViewData.TemplateInfo.HtmlFieldPrefix = "BillingAddress";
                }
                <h4>Billing Address</h4>
                @Html.Partial("_AddressPartial", Model.BillingAddress)
            </div>
            <div class="col-md-4">
                @{
                    ViewData.TemplateInfo.HtmlFieldPrefix = "ShippingAddress";
                }
                <h4>Shipping Address</h4>
                @Html.Partial("_AddressPartial", Model.ShippingAddress)
            </div>
            @{
                ViewData.TemplateInfo.HtmlFieldPrefix = "";
            }
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
